#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Name=theMedia
GenericName=Media Player
Exec=themedia
Icon=themedia
MimeType=audio/mp3;audio/mpeg;audio/mpeg3;audio/wav;video/avi;video/msvideo;video/mpeg;video/quicktime;video/x-ms-wmv
